
.Slider1 {
    height: 768px;
    width: 1024px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../../Pictures/onpoint0.gif');
    background-size: contain
}

.Slider1 button{
    background: none;
    border: none;
}
.home_button {
    margin-top: 20px;
    display: block;
}


.onpoint {
    margin-top: 150px;
}
